.title-cards {
    margin-top: 50px;
    padding: 20px;
    margin-bottom: -20px;
  }
  
  .title-cards h2 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .slick-slide {
    padding: 0 2px;
  }
  
  .slick-list {
    margin: 0 -2px;
  }
  .card {
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
  }
  .card:hover{
    transform: scale(1.1);
    color: red;
  }
  
  .card img {
    width: 150px;
    border-radius: 10px;
    outline: none;
  }
  .card-link{
    text-decoration: none;
  }
  