.hero{
    position: relative;
}
.banner-img {
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.banner-video{
    width: 100%;
    mask-image: linear-gradient(to top, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to top, transparent, black 75%);
}
.hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
    margin-bottom: 110px;
}
.bsp{
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
}
.caption-img{
    width: 250px;
    height: 100px;
    margin-bottom: 30px;
    cursor: pointer;
}
.hero-caption p{
    width: 472px;
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 10px;
    color: rgb(204, 207, 209);
}
.hero-caption .details{
    font-size: 17px;
    font-weight: 600;
}
.hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.hero-btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    background: rgb(196, 193, 193);
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hero-btns .btn2{
    border: 2px solid rgb(196, 193, 193);
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 300;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    color: aliceblue;
    margin-left: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hero-btns .btn:hover,
.hero-btns .btn2:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
.btn-icon{
    width: 25px;
}
.slick-dots{
    margin-top: -20px;
}
.slick-dots li button:before {
    color: white !important;
    font-size: 12px;
}

.slick-dots li.slick-active button:before {
    color: red !important;
}