.footer{
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
}
.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
}
.footer-icons{
    display: flex;
    gap: 20px;
    margin: 40px 0;
}
.footer-icons .icons{
    font-size: 20px;
    cursor: pointer;
}
.copyright-text{
    color: gray;
    font-size: 14px;
}
